{
    "extends": "airbnb-base", 
    "rules": {
        "linebreak-style":"off",
        "indent": "off",
        "no-console":0,
        "eol-last":"off",
        "no-unused-vars": "off",
        "no-trailing-spaces":"off",
        "import/order": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}